<?xml version="1.0" encoding="UTF-8"?>
<b:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:b="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
						http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd">

	<http auto-config="true">
		<intercept-url pattern="/" access="permitAll" />
		<intercept-url pattern="/home" access="permitAll" />
		<intercept-url pattern="/students/*" access="hasRole('ROLE_USER')" />
		<http-basic />
	</http>

	<authentication-manager>
		<authentication-provider>
			<user-service>
				<user name="masudhasan" password="123456" authorities="ROLE_USER" />
				<user name="admin" password="admin" authorities="ROLE_ADMIN" />
			</user-service>




			<!-- <ldap-user-service user-search-base="dc=example,dc=com" -->
			<!-- server-ref="myldapserder" role-prefix="ROLE_" /> -->



		</authentication-provider>
	</authentication-manager>

	<!-- todo configure with ldap -->
	<ldap-server id="myldapserder" url="ldap://localhost:10389" />

</b:beans>